<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Salitas de ingresos</title>
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <div>
        <h1>Salita de libros</h1>
    </div>
    <div id="api-libros-form" class="container" v-cloak>
        <div class="row">
            <div class="col">
                <h1>Salita de ingresos</h1>

                <form action="/api/libros" onsubmit="return addlibros()">
                    <legend>Formulario de carga de datos</legend>
                    <div class="mb-3">
                        <label class="form-label">Género:</label>
                        <div v-for="(genre, index) in listaGeneros" :key="index" class="form-check">
                            <input type="radio" class="form-check-input" :id="'genero_'+ index" :value="genre"
                                v-model="generoSeleccionado">
                            <label class="form-check-label" :for="'genero_' + index">{{ genre }}</label>
                        </div>
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título:</label>
                            <input type="text" v-model="titulo" class="form-control" id="titulo"
                                placeholder="titulo del libro" required>
                        </div>
                        <div class="mb-3">
                            <label for="autor" class="form-label">Autor:</label>
                            <input type="text" v-model="autor" class="form-control" id="autor"
                                placeholder="nombre del auto" required>
                        </div>
                        <div class="mb-3">
                            <label for="ilustrador" class="form-label">Ilustrador:</label>
                            <input type="text" v-model="ilustrador" class="form-control" id="ilustrador"
                                placeholder="nombre del ilustrador" required>
                        </div>
                        <div class="mb-3">
                            <label for="editorial" class="form-label">Editorial:</label>
                            <input type="text" v-model="editorial" class="form-control" id="editorial"
                                placeholder="nombre de la editorial" required>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="categorias" class="form-label">Categoría:</label>
                        <input type="text" v-model="categoriasInput" class="form-control" id="categorias"
                            placeholder="Ingrese una categoría">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Categorías Existentes:</label>
                        <div v-for="(categoria, index) in categoriasexistentes" :key="index" class="form-check">
                            <input type="checkbox" class="form-check-input" :id="'categoriasexistentes' + index"
                                :value="categoria" v-model="categoriasSeleccionadas">
                            <label class="form-check-label" :for="'categoriasexistentes' + index">{{ categoria
                                }}</label>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success" id="add_libros" @click="addlibros">Agregar
                            Libro
                        </button>
                    </div>
                </form>

                <div class="table-responsive mt-4">
                    <h2>Lista de Libros</h2>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Autor</th>
                                <th>Ilustrador</th>
                                <th>Editorial</th>
                                <th>Género</th>
                                <th>Categoría</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr> <!--v-for="libro in libros"  -->
                                <td>{{ titulo }}</td>
                                <td>{{ autor }}</td>
                                <td>{{ ilustrador }}</td>
                                <td>{{ editorial }}</td>
                                <td>{{ generoSeleccionado }}</td>
                                <td>{{ categoriasInput }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <div class="col pt-5">
        <h2>Libros REST response</h2>
        <pre id="output">{{ outPut }}</pre>
    </div> -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script src="manager.js"></script>
</body>

</html>