<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Registro de Usuario</title>
</head>

<body class="index-body">
<div id="app">
    <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement">
        <!-- Toast para mostrar mensajes de error -->
        <div id="danger-toast" data-bs-delay="2000"
             class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{ errorMsg }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
    <div class="container index-container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex justify-content-center bg-light shadow border-0 rounded-5">
                    <!-- Contenido del formulario de registro -->
                    <div class="login-wrap p-4 p-lg-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Registro de Usuario</h3>
                            </div>
                        </div>
                        <form action="#" class="signup-form" v-on:submit="signUp($event)">
                            <div class="form-group mb-3">
                                <label class="label" for="nombreUsuario">Nombre de Usuario</label>
                                <input v-model="nombreUsuario" id="nombreUsuario" type="text" class="form-control"
                                       placeholder="nombre" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="email">Email</label>
                                <input v-model="email" id="email" type="email" class="form-control"
                                       placeholder="email@mail.com" required>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Contraseña</label>
                                <input v-model="password" id="password" type="password" class="form-control"
                                       placeholder="Contraseña" required autocomplete="off">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary px-3">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script src="./registro.js"></script>
</body>

</html>
