* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('../assets/Fondo\ Salita\ de\ Libros.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.cabecera {
    
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
.contenedor {
    background: #99d381;
    border-radius: 2px;
    box-shadow: 19px 20px 8px -9px;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}
.cuadro-de-fondo{
    border-radius: 50px;
}
.form-control {
    padding-bottom: 20px;
    margin-bottom: 7px;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 7px;
    font-weight: 200; 
}
.form-control input {
    border: none;
    background-color: #e6e3e6;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 12px;
    width: 100%;
}
.form-control, input:focus {
    outline: none;
}
#formulario {
    padding: 20px 10px;
}
.container{
    margin: 30px 30px;
    padding: 5px;
}