
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap'); 
/* Reset de estilos y configuración básica */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1c6c6;
     /* Tono de melocotón claro */
    font-family: 'Roboto Slab', serif;
    
}
header {
  display: flex;
  flex-direction: row;
    justify-content: space-evenly;
    background-color: #efbbff;
    padding: 10px 0;
}
.row{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Contenedor principal */
#contenedorformularioLibro {
    max-width: 800px;
    margin: 20px auto;
    background: #c0f0cd; /* Fondo blanco roto */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    display: flex;
    flex-direction: column;
}

/* Encabezado y título */
h1{
  display: flex;
    color: #445e68; /* Azul claro apagado */   
    font-family: 'Raleway', sans-serif;
  align-items: center;
}
h2{
  color: #445e68;
  margin: 10px 15px;
  font-family: 'Raleway', sans-serif;
}

/* Formulario de carga de datos */
form {
    margin-bottom: 20px;
}

/* Etiquetas y entradas de formulario */
label {
    color: #3f4b50;
    font-size: large;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #8fa2ad; /* Borde gris azulado */
    border-radius: 5px;
}

/* Botones */
.btn {
    background: #f0b5af; /* Tono de rosa melocotón */
    color: #273a47;
    padding: 10px 20px;
    margin: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #be4d45; /* Tono de rosa melocotón más oscuro al pasar el ratón */
}
.btnGuardar{
  
  justify-content: center;
  
  
}
.btnGuardarContenedor{
  align-items: center;
  
}
/* Tabla de libros */
.table {
    margin-top: 20px;
}

/* Estilo para el modal */
.modal-content {
    background: #ff8037; /* Fondo del modal - tono melocotón claro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Texto dentro del modal */
.modal-body,
.modal-title,
.modal-footer {
    color: #557a95;
}

/* Estilo para las filas de la tabla dentro del modal */
.modal-body table tbody tr {
    background: #388b73; /* Fondo blanco */
}

  
  .navbar {
    border-radius: 0;
  }
  
  .navbar-brand {
    font-size: 2em;
  }
  
  .navbar-nav li a {
    font-size: 1.5em;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    font-size: 2.5em;
    text-align: center
  }
  h2 {
    
    text-align: center
  }
  p {
    font-size: 1.5em;
    align-items: center;
  }
  .categorias{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  .labelCategoria{
    display: block;
  }
  .itemsCategorias{
    display: flex;
  }
  .boxCategoria{
    margin-right: 3px;
  }
.mb-3{
  padding: 50px;
  border-width: 20px;
  border: 5px solid #808083;
  display: block;
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
}
input[type="text"] {
  appearance: none;
}